# JSON database
/data/store.json

# Environment files
.env
.env.*

# PHP sessions
/sessions/
/storage/sessions/

# Logs
*.log

# Dependencies
/vendor/
/node_modules/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
desktop.ini



.git